!!! 5
%html
%head
  %title Family Recipe Box
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  :javascript
    $(function() {
        $( "#datepicker" ).datepicker();
    });



%body
  .row
  %nav.navbar.navbar-default
    .container
    .navbar-brand= link_to "All Family Recipes", root_path
    .row
      .col-xs-4
        = form_tag root_path, method: 'get' do
          = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search"
    - if user_signed_in?
      %ul.nav.navbar.navbar-nav.navbar-right
        %li= link_to "New Recipe", new_recipe_path
        %li= link_to "Sign Out", destroy_user_session_path, method: :delete
    - else
      %ul.nav.navbar.navbar-nav.navbar-right
        %li= link_to "Sign up", new_user_registration_path
        %li= link_to "Sign In", new_user_session_path
  .container
    -flash.each do |name,msg|
      = content_tag :div, msg, class: "alert"
    = yield
